<!DOCTYPE html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>[WingIt] 고객센터</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="manifest" href="site.webmanifest">
  <link rel="shortcut icon" type="image/x-icon" href="/img/logo/shortcut-icon.png">

  <script th:inline="javascript">

    const ssIdentity = /*[[${session.SS_IDENTITY}]]*/ '';

    if (ssIdentity == null) {

      alert("로그인 후 이용하실 수 있습니다.");
      location.href = "/index";

    }

  </script>

  <!-- CSS here -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/css/slicknav.css">
  <link rel="stylesheet" href="/css/flaticon.css">
  <link rel="stylesheet" href="/css/progressbar_barfiller.css">
  <link rel="stylesheet" href="/css/gijgo.css">
  <link rel="stylesheet" href="/css/animate.min.css">
  <link rel="stylesheet" href="/css/animated-headline.css">
  <link rel="stylesheet" href="/css/magnific-popup.css">
  <link rel="stylesheet" href="/css/fontawesome-all.min.css">
  <link rel="stylesheet" href="/css/themify-icons.css">
  <link rel="stylesheet" href="/css/slick.css">
  <link rel="stylesheet" href="/css/nice-select.css">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/table.css"/>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <link rel="stylesheet" href="/css/font.css">

  <script src="/js/jquery-3.6.0.min.js" type="text/javascript"></script>

  <style>

    #chat:empty {
      padding: 2%; /* 원하는 패딩 값으로 조정 */
    }

    .chat-message {
      display: flex;
      flex-direction: column;
    }

    .chat-message.sent {
      align-items: flex-end;
      margin: 1% 0;
    }

    .chat-message.received {
      align-items: flex-start;
      margin: 1% 0;
    }

  </style>

  <script th:inline="javascript">
    let data = {}; // 전송 데이터(JSON)
    let ws; // 웹소켓 객체
    // const roomName = [[${roomName}]]; // 채팅룸 이름
    // console.log("roomName : ", roomName)

    const userId = [[${session.SS_USER_ID}]]; // 채팅유저 이름
    console.log("세션 유저 아이디 : ", userId)
    const sender = [[${session.SS_USER_ID}]];

    $(document).ready(function () {

      data.name = userId; // 아이디

      $.ajax({
              url: "/cs/getChats",
              type: "post",
              contentType: "application/json",
              dataType: "JSON",
              data: JSON.stringify(data),
              success: function (response) {

                console.log("response : ", response);
                console.log("getChats 실행완료");

                response.data.forEach(chat => {
                  if (chat.sender === userId) { // 사용자가 발송한 채팅 메시지는 파란색 글씨
                    $("#chat").append("<div class='chat-message sent'>" +
                            "<span style='color: black; border: none; padding: 1% 3%; border-radius: 23px; font-size: 11pt; background: gold; width: max-content;'>" + chat.msg + " </span>" +
                            "<span style='color: grey;'>" + chat.date + " </span>" +
                            "</div>");
                  } else if (chat.sender === "admin") { // 관리자가 발송한 채팅 메시지는 빨간색 글씨
                    $("#chat").append("<div class='chat-message received'>" +
                            "<span> 관리자 </span>" +
                            "<span  style='color: black; border: none; padding: 1% 3%; border-radius: 23px; font-size: 11pt; background: antiquewhite; width: max-content;'>" + chat.msg + " </span>" +
                            "<span style='color: grey'>" + chat.date + " </span>" +
                            "</div>");
                  }

                });

                // adjustPadding();

                applyScroll();

                // Scroll to bottom
                scrollToBottom();

                // 자식 요소가 없을 경우 기본 메시지 추가
                const chatDiv = document.getElementById("chat");
                if (chatDiv.children.length === 0) {

                  chatDiv.style.padding = '10% 1%';

                  chatDiv.innerHTML = "<span id='first' style='display: flex; justify-content: center; align-items: center; margin: auto 0; font-size: 13pt;'>WingIt에 대해 궁금한 내용을 편하게 질문해주세요!</span>";
                }

              }

      })

      // 웹소켓 객체를 생성하는 중
      if (ws !== undefined && ws.readyState !== WebSocket.CLOSED) {
        console.log("WebSocket is already opened.");
        return;
      }

      // 접속 URL 예 : ws://localhost:10000/ws/테스트방/별명
      ws = new WebSocket("wss://" + location.host + "/ws/customerService/" + userId);

      // 웹소켓 열기
      ws.onopen = function (event) {
        if (event.data === undefined)
          return;

        console.log(event.data)
      };

      // 웹소캣으로부터 메세지를 받을 때마다 실행됨
      ws.onmessage = function (msg) {

        // 웹소켓으로부터 받은 데이터를 JSON 구조로 변환하기
        let data = JSON.parse(msg.data);

        if (data.sender === userId) { // 내가 발송한 채팅 메시지는 파란색 글씩
          $("#chat").append("<div class='chat-message sent'>" +
                  "<span style='color: black; border: none; padding: 1% 3%; border-radius: 23px; font-size: 11pt; background: gold; width: max-content;'>" + data.msg + " </span>" +
                  "<span style='color: grey;'>" + data.date + " </span>" +
                  "</div>");
        } else if (data.sender === "admin") { // 관리자가 발송한 채팅 메시지는 빨간색 글씩
          $("#chat").append("<div class='chat-message received'>" +
                  "<span> 관리자 </span>" +
                  "<span  style='color: black; border: none; padding: 1% 3%; border-radius: 23px; font-size: 11pt; background: antiquewhite; width: max-content;'>" + data.msg + " </span>" +
                  "<span style='color: grey'>" + data.date + " </span>" +
                  "</div>");
        }

        // 새로운 메시지가 추가될 때 #first 요소 제거
        const firstMessage = document.getElementById("first");
        if (firstMessage) {
          firstMessage.remove();
        }

        // adjustPadding();

        applyScroll();

        // Scroll to bottom
        scrollToBottom();

      };

      // 엔터 키 이벤트 처리
      $('#msg').on('keydown', function(event) {
        if (event.keyCode === 13) { // 13은 엔터 키의 keyCode
          event.preventDefault(); // 이벤트 중단
          $("#btnSend").click(); // 전송 버튼 클릭
        } });

      $("#btnSend").on("click", function () {

        if ( $("#msg").val() == "" || $("#msg").val() == undefined ) {
          alert("메세지를 입력하세요.");
          $("#msg").focus()
          return;
        }

        data.name = userId; // 아이디
        data.sender = sender; // 아이디
        data.msg = $("#msg").val();  // 입력한 메시지

        let chatMsg = JSON.stringify(data); // 데이터 구조를 JSON 형태로 변경하기

        $.ajax({
              url: "/cs/saveChat",
              type: "post",
              contentType: "application/json",
              dataType: "JSON",
              data: JSON.stringify(data)
        })

        ws.send(chatMsg); // 채팅 메시지 전송하기

        $("#msg").val(""); // 채팅 메시지 전송 후, 입력한 채팅내용 지우기
      });
    });

    function scrollToBottom() {
      var chat = document.getElementById('chat');
      chat.scrollTop = chat.scrollHeight;
    }

    function applyScroll() {
      var chat = document.getElementById('chat');
      if (chat.scrollHeight > 600) {
        chat.style.overflowY = 'scroll';
      } else {
        chat.style.overflowY = 'hidden';
      }
    }

    function adjustPadding() {
      var chat = document.getElementById('chat');
      if (chat.offsetHeight > 400) {
        chat.style.padding = '7% 1%';
      } else {
        chat.style.padding = '7% 1% 25%';
      }
    }

  </script>
</head>
<body>

<!-- Preloader Start -->
<th:block th:replace="preloader"></th:block>
<!-- Preloader End -->
<!-- Header Start -->
<th:block th:replace="header"></th:block>
<!-- Header End -->

<main>
  <!--? slider Area Start-->
  <section class="slider-area slider-area2">
    <div class="slider-active">
      <!-- Single Slider -->
      <div class="single-slider slider-height2"
           style="background-image: url('/img/wingit_bg.jpg'); background-position: top;">
        <div class="container">
          <div class="row">
            <div class="col-xl-8 col-lg-11 col-md-12">
              <div class="hero__caption hero__caption2">
                <h1 data-animation="bounceIn" data-delay="0.2s">고객센터</h1>
                <!-- breadcrumb Start-->
                <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/main">Home</a></li>
                    <li class="breadcrumb-item"><a href="/cs/chatroom">고객센터</a></li>
                  </ol>
                </nav>
                <!-- breadcrumb End -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Courses area start -->
  <div class="courses-area section-padding40 fix" style="background-color: floralwhite; padding-top: 3%;">
    <div class="container">
      <div class="row">
        <th:block th:replace="myPageSideBar"></th:block>

        <div class="col-lg-7" style="display: flex; justify-content: center; border-radius: 10px; overflow: hidden; border: 3px solid orange; padding: 0;">


          <div class="divTable minimalistBlack" style="border-collapse: separate; border: none;">

            <!-- 고객센터 채팅 로고 -->
            <div class="divTableHeading">
              <div class="divTableRow">
                <div class="divTableHead" style="display: flex; justify-content: center;">
                  <img src="/img/logo/customer-service.png" width="35px" height="35px" alt="고객센터">
                </div>
              </div>
            </div>

            <div class="divTableBody">
              <!-- 채팅창 -->
              <div class="divTableRow" style="background-color: floralwhite;">
                <div class="divTableCell chat-message" id="chat" style="padding: 7% 1%; height: 600px; overflow-x: hidden; overflow-y: scroll;"></div>
              </div>
              <!-- 채팅 입력창 -->
              <div class="divTableRow">
                <div class="divTableCell" style="padding: 0; display: flex; height: 40px;">
                  <!--                <input type="text" id="msg">-->
<!--                  <textarea id="msg" style="width: 94%; border: none; font-size: 11pt; padding: 1% 2%;"></textarea>-->
                  <input id="msg" style="width: 94%; border: none; font-size: 11pt; padding: 1% 2%;"/>
                  <button id="btnSend" style="padding: 0.7% 1%; border: none; background: orange; cursor: pointer;">
                    <img src="/img/logo/send.png" width="30px" height="30px" alt="전송">
                  </button>
                </div>
              </div>
            </div>

          </div>
        </div>

        <!--<div class="row justify-content-center" style="margin: 0 auto;">
          <div class="col-xl-12">
            <div class="section-tittle text-center mt-20">
              <button type="button" id="goOut"
                      style="font-weight: bold; font-size: 14pt; padding: 1% 2% 0.6%; border: 1px solid #FF9F67;
                  color: #FF9F67; background: none; border-radius: 5px; letter-spacing: 1px;
                  font-family: 'Josefin Sans', sans-serif;">
                나가기
              </button>
            </div>
          </div>
        </div>-->

      </div>
    </div>
  </div>


</main>


<!--<h1>고객센터</h1>
<hr/>
<br/><br/>

<div class="divTable minimalistBlack">
  <div class="divTableHeading">
    <div class="divTableRow">
      <div class="divTableHead">대화 내용</div>
    </div>
  </div>
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell" id="chat"></div>
    </div>
  </div>
</div>
<br/><br/>
<div class="divTable minimalistBlack">
  <div class="divTableBody">
    <div class="divTableRow">
      <div class="divTableCell">전달할 메시지</div>
      <div class="divTableCell">
        <input type="text" id="msg">
        <button id="btnSend">메시지 전송</button>
      </div>
    </div>
  </div>
</div>-->

<footer>
  <div class="footer-wrappper footer-bg">
    <!-- Footer Start-->
    <th:block th:replace="footer"></th:block>
    <!-- Footer End-->
  </div>
</footer>
<!-- Scroll Up -->
<th:block th:replace="toDo"></th:block>
<th:block th:replace="scrollUp"></th:block>

<!-- JS here -->
<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>


</body>
</html>
