<!doctype html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WingIt 회원가입</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/shortcut-icon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">

    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script type="text/javascript">

        // 아이디 중복체크여부 (중복 Y / 중복아님 : N)
        let userIdCheck = "Y";

        // 닉네임 중복체크여부 (중복 Y / 중복아님 : N)
        let nicknameCheck = "Y";

        // 이메일 중복체크 인증번호 발송 값
        let emailAuthNumber = "";

        // HTML로딩이 완료되고, 실행됨
        $(document).ready(function () {

            let f = document.getElementById("f"); // form 태그

            // 아이디 중복체크
            $("#btnUserId").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                userIdExists(f)
            })

            // 닉네임 중복체크
            $("#btnNickname").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                nicknameExists(f)
            })

            // 이메일 중복체크 & 인증번호 발송
            $("#btnEmail").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                emailExists(f)
            })

            // 우편번호 찾기
            $("#btnAddr").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                kakaoPost(f);
            })

            // 회원 가입하기
            $("#btnSignUp").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                signUp(f);
            })

            // 로그인
            $("#btnLogin").on("click", function () { // 버튼 클릭했을때, 발생되는 이벤트 생성함(onclick 이벤트와 동일함)
                location.href = "/login";
            })

        })

        // 회원아이디 중복 체크
        function userIdExists(f) {

            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            // Ajax 호출해서 아이디 중복 조회하기
            $.ajax({
                    url: "/signup/getUserIdExists",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..

                        if (json.existsYn === "Y") {
                            alert("이미 가입된 아이디가 존재합니다.");
                            f.userId.focus();

                        } else {
                            userIdCheck = "N";
                            alert("사용 가능한 아이디입니다.");
                        }
                    }
                }
            )
        }

        // 닉네임 중복 체크
        function nicknameExists(f) {

            if (f.nickname.value === "") {
                alert("닉네임을 입력하세요.");
                f.nickname.focus();
                return;
            }

            // Ajax 호출해서 아이디 중복 조회하기
            $.ajax({
                    url: "/signup/getNicknameExists",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..

                        if (json.existsYn === "Y") {
                            alert("중복된 닉네임입니다.");
                            f.nickname.focus();

                        } else {
                            nicknameCheck = "N";
                            alert("사용 가능한 닉네임입니다.");
                        }
                    }
                }
            )
        }

        // 이메일 중복 체크
        function emailExists(f) {
            if (f.email.value === "") {
                alert("이메일을 입력하세요.");
                f.email.focus();
                return;
            }

            // Ajax 호출해서 이메일 중복 조회하기
            $.ajax({
                    url: "/signup/getEmailExists",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // 호출이 성공했다면..

                        if (json.existsYn === "Y") {
                            alert("이미 가입된 이메일 주소가 존재합니다.");
                            f.email.focus();

                        } else {
                            alert("이메일로 인증번호가 발송되었습니다. \n받은 메일의 인증번호를 입력하기 바랍니다.");
                            emailAuthNumber = json.authNumber;
                            console.log("json.authNumber : " + json.authNumber)
                            console.log("emailAuthNumber : " + emailAuthNumber)

                        }

                    }
                }
            )
        }

        // 카카오 우편번호 조회 API 호출
        function kakaoPost(f) {
            new daum.Postcode({
                oncomplete: function (data) {

                    // Kakao에서 제공하는 data는 JSON구조로 주소 조회 결과값을 전달함
                    // 주요 결과값
                    // 주소 : data.address
                    // 우편번호 : data.zonecode
                    let address = data.address; // 주소
                    let zonecode = data.zonecode; // 우편번호
                    f.addr1.value = "(" + zonecode + ")" + address
                }
            }).open();
        }

        //회원가입 정보의 유효성 체크하기
        function signUp(f) {

            if (f.userId.value === "") {
                alert("아이디를 입력하세요.");
                f.userId.focus();
                return;
            }

            if (userIdCheck !== "N") {
                alert("아이디 중복 체크 및 중복되지 않은 아이디로 가입 바랍니다.");
                f.userId.focus();
                return;
            }

            if (f.userName.value === "") {
                alert("이름을 입력하세요.");
                f.userName.focus();
                return;
            }

            if (f.nickname.value === "") {
                alert("닉네임을 입력하세요.");
                f.nickname.focus();
                return;
            }

            if (f.password.value === "") {
                alert("비밀번호를 입력하세요.");
                f.password.focus();
                return;
            }

            if (f.password2.value === "") {
                alert("비밀번호 확인을 입력하세요.");
                f.password2.focus();
                return;
            }

            if (f.password.value !== f.password2.value) {
                alert("비밀번호와 비밀번호 확인이 일치하지 않습니다.");
                f.password.focus();
                return;
            }

            if (f.email.value === "") {
                alert("이메일을 입력하세요.");
                f.email.focus();
                return;
            }

            if (f.authNumber.value === "") {
                alert("이메일 인증번호를 입력하세요.");
                f.authNumber.focus();
                return;
            }

            if (f.authNumber.value != emailAuthNumber) {
                alert("이메일 인증번호가 일치하지 않습니다.");
                f.authNumber.focus();
                return;
            }

            // Ajax 호출해서 회원가입하기
            $.ajax({
                    url: "/signup/signupProc",
                    type: "post", // 전송방식은 Post
                    dataType: "JSON", // 전송 결과는 JSON으로 받기
                    data: $("#f").serialize(), // form 태그 내 input 등 객체를 자동으로 전송할 형태로 변경하기
                    success: function (json) { // /notice/noticeUpdate 호출이 성공했다면..

                        if (json.result === 1) { // 회원가입 성공
                            alert(json.msg); // 메시지 띄우기
                            location.href = "/login"; // 로그인 페이지 이동

                        } else { // 회원가입 실패
                            alert(json.msg); // 메시지 띄우기
                        }

                    }
                }
            )

        }


    </script>


</head>
<body style="overflow: visible;">

<!-- Preloader Start -->
<div id="preloader-active" style="display: none;">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">
                <img src="/img/logo/shortcut-icon.png" alt="">
            </div>
        </div>
    </div>
</div>
<!-- Preloader End -->

<main class="login-body" style="background-image: url('/img/wingit_bg.jpg');">
    <!-- Login Admin -->
    <form id="f">

        <div style="
">
            <div class="login-form" style="
    top: 50%;
    left: 37%;
    height: 85%;
">
                <h2 style="font-size: 40pt; margin-top: 58%;">WingIt</h2>
                <div style="
    margin-bottom: 5%;
">
                    <a id="btnLogin" style="margin: 0 23%;font-size: 13pt;color: white;">계정이 있으신가요? 로그인</a>
                </div>
            </div>
            <div class="login-form" style="
    padding: 2% 2% 1% 2%;
    width: 25%;
    height: 85%;
    left: 62%;
">
                <!-- logo-login -->
                <div class="logo-login">
                    <a href="/index"><img src="/img/logo/logo.png" alt="" style="margin-left: -10%;margin-top: 2%;"></a>
                </div>

                <div class="form-input">
                    <label for="userId" style="
    margin-right: 6%;
    margin-bottom: 0;
">아이디</label>
                    <input type="text" name="userId" id="userId" placeholder="아이디를 입력하세요" style="
    width: 58%;
">
                    <button id="btnUserId" type="button" style="
                    width: 20%;
                    border-radius: 30px;
                    background-color: orange;
                    border: 1px solid orange;
                    font-size: 12pt;
                    padding: 1.5%;
                    font-weight: bold;
                    ">중복확인
                    </button>
                </div>

                <div class="form-input">
                    <label for="name" style="
    margin-right: 10%;
    margin-bottom: 0;
">이름</label>
                    <input type="text" name="userName" id="name" placeholder="이름을 입력하세요" style="
    width: 58%;
">
                </div>

                <div class="form-input">
                    <label for="nickname" style="
    margin-right: 6%;
    margin-bottom: 0;
">닉네임</label>
                    <input type="text" name="nickname" id="nickname" placeholder="닉네임을 입력하세요" style="
    width: 58%;
">
                    <button id="btnNickname" type="button" style="
                    width: 20%;
                    border-radius: 30px;
                    background-color: orange;
                    border: 1px solid orange;
                    font-size: 12pt;
                    padding: 1.5%;
                    font-weight: bold;
                    ">중복확인</button>
                </div>

                <div class="form-input">
                    <label for="password" style="
    margin-right: 2%;
    margin-bottom: 0;
">비밀번호</label>
                    <input type="password" name="password" id="password" placeholder="비밀번호를 입력하세요" style="
    width: 70%;
">
                </div>

                <div class="form-input">
                    <label for="password2" style="
    margin-right: 50%; margin-bottom: 0;
">비밀번호 확인</label>
                    <input type="password" name="password2" id="password2" placeholder="비밀번호를 한번 더 입력하세요" style="
    width: 93%;
">
                </div>

                <!--<div class="form-input">
                    <label for="identity" style="
    margin-right: 50%;
">직업</label>
                    <select name="identity" id="identity" style="display: none;">
                        <option value="고등학생">고등학생</option>
                        <option value="대학생">대학생</option>
                        <option value="일반">일반</option>
                    </select>
                    <div class="nice-select open" tabindex="0" style="float: none;"><span class="current">고등학생</span>
                        <ul class="list">
                            <li data-value="고등학생" class="option selected focus">고등학생</li>
                            <li data-value="대학생" class="option">대학생</li>
                            <li data-value="일반" class="option">일반</li>
                        </ul>
                    </div>
                </div>-->

                <div class="form-input" style="display: flex;align-items: center;">
                    <label for="identity" style="margin-right: 5%;margin-top: 2%;">직업</label>
                    <select name="identity" id="identity" style="width: 100%; display: none;">
                        <option value="고등학생">고등학생</option>
                        <option value="대학생">대학생</option>
                        <option value="일반">일반</option>
                    </select><div class="nice-select" tabindex="0"><span class="current">고등학생</span><ul class="list"><li data-value="고등학생" class="option selected">고등학생</li><li data-value="대학생" class="option">대학생</li><li data-value="일반" class="option">일반</li></ul></div>
                </div>

                <!--<div class="form-input">
                    <label for="gender" style="
    margin-right: 50%;
">성별</label>
                    <input id="gender" type="radio" name="gender" value="남"> 남
                    <input type="radio" name="gender" value="여"> 여
                </div>-->

                <div class="form-input" style="display: flex;align-items: center;">
                    <label for="gender" style="margin-right: 6%;">성별</label>
                    <div style="display: flex;"> <!-- 수정된 부분 -->
                        <input id="gender-male" type="radio" name="gender" value="남">
                        <label for="gender-male" style="
    margin: 17% 80% 0 21%;
">남</label>
                    </div>
                    <div style="display: flex;"> <!-- 수정된 부분 -->
                        <input id="gender-female" type="radio" name="gender" value="여" style="
    margin-left: 85%;
">
                        <label for="gender-female" style="
    margin: 17% 80% 0 21%;
">여</label>
                    </div>
                </div>



                <div class="form-input">
                    <label for="email" style="
    margin-right: 50%;
">이메일</label>
                    <input type="email" name="email" id="email" style="width: 69%;" placeholder="이메일주소">
                    <button id="btnEmail" type="button" style="
                    width: 29%;
                    border-radius: 30px;
                    background-color: orange;
                    border: 1px solid orange;
                    font-size: 12pt;
                    padding: 1.5%;
                    font-weight: bold;
                    ">인증번호 발송</button>
                </div>

                <div class="form-input">
                    <label for="authNumber" style="
    margin-right: 3%;
">인증번호</label>
                    <input type="number" name="authNumber" id="authNumber" style="width: 55%;" placeholder="인증번호를 입력하세요">
                </div>

                <div class="form-input pt-30">
                    <button type="button" id="btnSignUp" style="
        width: 40%;
        height: 108%;
        border-radius: 30px;
        background-color: orange;
        border: 1px solid orange;
        margin: 0 28%;
        font-size: 14pt;
        padding: 2.5%;
        font-weight: bold;
    ">회원가입
                    </button>
                </div>

            </div>
        </div>
    </form>
    <!-- /end login form -->
</main>

<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="/js/vendor/jquery-1.12.4.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="/js/jquery.slicknav.min.js"></script>

<!-- Video bg -->
<script src="/js/jquery.vide.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

<!-- Date Picker -->
<script src="/js/gijgo.min.js"></script>
<!-- Nice-select, sticky -->
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
<!-- Progress -->
<script src="/js/jquery.barfiller.js"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="/js/jquery.counterup.min.js"></script>
<script src="/js/waypoints.min.js"></script>
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/hover-direction-snake.min.js"></script>

<!-- contact js -->
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>




</body>
</html>