<style>

  #myPage:hover::before {
    background: none;
    transition: none;
  }

  #myPage::before {
    background: none;
    transition: none;
  }

  @media screen and (max-width: 991px) {
    .logo img {
      width: 32% !important;
      margin: 2% 0 !important;
    }
  }

  .main-header .main-menu ul ul.submenu>li>a:hover {
    color:#fb9862 !important;
    background:none;
    padding-left:13px !important;
  }

</style>

<!-- 마이페이지 버튼 조건부 시각화 -->
<script th:inline="javascript">

  var isLoggedIn = [[${session['SS_USER_ID'] != null}]];

  // 로그인 상태에 따라 버튼 숨기기/표시
  document.addEventListener('DOMContentLoaded', function () {
    var myPageButton = document.getElementById('myPage');
    if (isLoggedIn) {
      myPageButton.style.display = 'block';
    } else {
      myPageButton.style.display = 'none';
    }
  });

</script>

<!-- 로그인 / 로그아웃 버튼 조건부 시각화-->
<script type="text/javascript">

  $(document).ready(function () {

    // 로그아웃 로직
    var logoutButton = document.getElementById('btnLogout');
    if (logoutButton) {
      logoutButton.addEventListener('click', function (event) {
        if (confirm("로그아웃 하시겠습니까?")) {
          // 로그아웃 처리 로직 추가
          $.ajax({
            url: "/logoutProc",
            type: "post",
            success: function (json) {
              console.log(json);
              if (json.result == 1) {
                location.href = "/index";
              }
            }
          });
        }
      });
    }

  });

</script>

<div class="header-area header-transparent">
  <div class="main-header ">
    <div class="header-bottom header-sticky">
      <div class="container-fluid">
        <div class="row align-items-center">
          <!-- Logo -->
          <div class="col-xl-4 col-lg-4">
            <div class="logo">
              <a th:if="${session['SS_IDENTITY'] == 'admin'}" href="/adminMain">
                <img src="/img/logo/logowithname_removebg.png" alt="" style="width: 75%; margin: 5% 0;">
              </a>
              <a th:unless="${session['SS_IDENTITY'] == 'admin'}" href="/main">
                <img src="/img/logo/logowithname_removebg.png" alt="" style="width: 75%; margin: 5% 0;">
              </a>
            </div>
          </div>
          <div class="col-xl-8 col-lg-8">
            <div class="menu-wrapper d-flex align-items-center justify-content-end">
              <!-- Main-menu -->
              <div class="main-menu d-none d-lg-block">
                <nav>
                  <ul id="navigation">
                    <li class="active">
                      <a th:if="${session['SS_IDENTITY'] == 'admin'}" href="/adminMain" style="font-size: 18pt;">Home</a>
                      <a th:unless="${session['SS_IDENTITY'] == 'admin'}" href="/main" style="font-size: 18pt;">Home</a>
                    </li>
                    <li th:unless="${session['SS_IDENTITY'] == 'admin'}">
                      <a href="#" style="font-size: 14pt;">진로심리검사</a>

                      <ul class="submenu">
                        <li th:if="${session['SS_IDENTITY'] == 'highschool'}" style="margin-right: 0;">
                          <a href="/test/testHMstudent">직업흥미검사(K)</a>
                        </li>
                        <li th:if="${session['SS_IDENTITY'] == 'highschool'}">
                          <a href="/test/testGCGstudent">직업가치관검사</a>
                        </li>
                        <li th:unless="${session['SS_IDENTITY'] == 'highschool'}">
                          <a href="/test/testGCGadult">직업가치관검사</a>
                        </li>
                      </ul>

                    </li>
                    <li th:unless="${session['SS_IDENTITY'] == 'admin'}">
                      <a href="/job" style="font-size: 14pt;">직업사전</a>
                    </li>
                    <li th:unless="${session['SS_IDENTITY'] == 'admin'}">
                      <a href="/studyWithMe" style="font-size: 15pt;">Study with Me</a>
                    </li>

                    <!-- Button -->
                    <li th:unless="${session['SS_IDENTITY'] == 'admin'}" class="button-header margin-left ">
                      <a href="/profile" id="myPage" class="btn" style="font-size: 13pt;">마이페이지</a>
                    </li>

                    <!-- 로그아웃 버튼 -->
                    <li class="button-header loggedIn" th:if="${session['SS_USER_ID'] != null}">
                      <a class="btn btn3" id="btnLogout" style="font-size: 13pt;">로그아웃</a>
                    </li>

                    <!-- 로그인 버튼 -->
                    <li class="button-header" th:unless="${session['SS_USER_ID'] != null}">
                      <a class="btn btn3" th:href="@{/login}" style="font-size: 13pt;">로그인</a>
                    </li>

                  </ul>
                </nav>
              </div>
            </div>
          </div>
          <!-- Mobile Menu -->
          <div class="col-12">
            <div class="mobile_menu d-block d-lg-none">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>