<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>WingIt 소개</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!--
    <link rel="manifest" href="site.webmanifest">
-->
    <link rel="shortcut icon" type="image/x-icon" href="/img/logo/shortcut-icon.png">

    <!-- CSS here -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.css">
    <link rel="stylesheet" href="/css/flaticon.css">
    <link rel="stylesheet" href="/css/progressbar_barfiller.css">
    <link rel="stylesheet" href="/css/gijgo.css">
    <link rel="stylesheet" href="/css/animate.min.css">
    <link rel="stylesheet" href="/css/animated-headline.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/slick.css">
    <link rel="stylesheet" href="/css/nice-select.css">
    <link rel="stylesheet" href="/css/style.css">

</head>
<body style="overflow: visible;">

<main class="login-body" style="background-image: url('/img/wingit_bg.jpg');">
    <!-- Login Admin -->
<!--    <form class="form-default" id="f">-->

        <div class="login-form" style="width: 40%;height: 47%;padding-top: 5.5%;">
            <!-- logo-login -->
            <div class="logo-login">
                <a href="/index"><img src="/img/logo/logo.png" alt=""></a>
            </div>
            <h3 style="
    color: #fff;
    font-size: 20pt;
    text-align: center;
    font-weight: 600;
    margin-bottom: 2%;
">꿈에 날개를 달아주는 공간,</h3>
            <h2 style="margin-bottom: 9%;font-size: 60pt;">WingIt</h2>

            <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
            <script type="text/javascript">
                $(document).ready(function () {
                    $("#btnStart").on("click", function () {
                        location.href = "/login";
                    });
                });
            </script>

            <button id="btnStart" style="
        width: 23%;
        height: 22%;
        border-radius: 30px;
        background-color: orange;
        border: 1px solid orange;
        margin: 0 38%;
        font-size: 16pt;
    ">시작하기</button>



        </div>
<!--    </form>-->
    <!-- /end login form -->
</main>

<!--<script src="/js/vendor/modernizr-3.5.0.min.js"></script>
&lt;!&ndash; Jquery, Popper, Bootstrap &ndash;&gt;
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
&lt;!&ndash; Jquery Mobile Menu &ndash;&gt;
<script src="/js/jquery.slicknav.min.js"></script>

&lt;!&ndash; Video bg &ndash;&gt;
<script src="/js/jquery.vide.js"></script>

&lt;!&ndash; Jquery Slick , Owl-Carousel Plugins &ndash;&gt;
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/slick.min.js"></script>
&lt;!&ndash; One Page, Animated-HeadLin &ndash;&gt;
<script src="/js/wow.min.js"></script>
<script src="/js/animated.headline.js"></script>
<script src="/js/jquery.magnific-popup.js"></script>

&lt;!&ndash; Date Picker &ndash;&gt;
<script src="/js/gijgo.min.js"></script>
&lt;!&ndash; Nice-select, sticky &ndash;&gt;
<script src="/js/jquery.nice-select.min.js"></script>
<script src="/js/jquery.sticky.js"></script>
&lt;!&ndash; Progress &ndash;&gt;
<script src="/js/jquery.barfiller.js"></script>

&lt;!&ndash; counter , waypoint,Hover Direction &ndash;&gt;
<script src="/js/jquery.counterup.min.js"></script>
&lt;!&ndash;<script src="/js/waypoints.min.js"></script>&ndash;&gt;
<script src="/js/jquery.countdown.min.js"></script>
<script src="/js/hover-direction-snake.min.js"></script>

&lt;!&ndash; contact js &ndash;&gt;
<script src="/js/contact.js"></script>
<script src="/js/jquery.form.js"></script>
<script src="/js/jquery.validate.min.js"></script>
<script src="/js/mail-script.js"></script>
<script src="/js/jquery.ajaxchimp.min.js"></script>

&lt;!&ndash; Jquery Plugins, main Jquery &ndash;&gt;
<script src="/js/plugins.js"></script>
<script src="/js/main.js"></script>-->



</body></html>