<div class="col-md-3" style="padding-top: 5%;">
  <div style="margin-bottom: 8%; font-size: 15pt;">
    <a href="/profile" style="color: black; cursor:pointer;">회원 정보</a>
  </div>
  <div style="margin-bottom: 8%; font-size: 15pt;">
    <a href="/profile/getTestRecordList" style="color: black; cursor:pointer;">진로심리검사 내역</a>
  </div>
  <div style="margin-bottom: 8%; font-size: 15pt;">
    <a href="/profile/getLikeJobList" style="color: black; cursor:pointer;">좋아요 한 직업</a>
  </div>
  <div style="margin-bottom: 8%; font-size: 15pt;">
    <a href="/cs/chatroom" style="color: black; cursor:pointer;">고객센터</a>
  </div>
</div>