<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kopo.poly.persistance.mapper.IJobMapper">

    <!-- 직업정보 삽입하기 -->
    <insert id="insertJob" parameterType="JobDTO">
        INSERT INTO JOB_DICTIONARY
        VALUES (
                #{jobdicSeq},
                #{jobName},
                #{summary},
                #{aptitude},
                #{major},
                #{capacity},
                #{certification},
                #{possibility}
               )
    </insert>

    <select id="getJobList" resultType="JobDTO">
        SELECT JOB_DICT_SEQ, JOB_NAME, SUMMARY, APTITUDE, MAJOR, CAPACITY, CERTIFICATION, POSSIBILITY
        FROM JOB_DICTIONARY
        ORDER BY JOB_NAME ASC
    </select>

    <select id="searchJob" parameterType="JobDTO" resultType="JobDTO">
        SELECT JOB_DICT_SEQ, JOB_NAME, SUMMARY, APTITUDE, MAJOR, CAPACITY, CERTIFICATION, POSSIBILITY
        FROM JOB_DICTIONARY
        WHERE 1=1 AND JOB_NAME LIKE CONCAT('%', #{jobName}, '%')
        ORDER BY JOB_NAME ASC
    </select>

</mapper>