<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="kopo.poly.persistance.mapper.IProfileMapper">

    <!-- 마이페이지 회원정보 조회 -->
    <select id="getProfile" parameterType="UserInfoDTO" resultType="UserInfoDTO">
        SELECT USER_ID, USER_NAME, NICKNAME, IDENTITY, GENDER, EMAIL
        FROM USER_INFO
        WHERE USER_ID = #{userId}
    </select>

    <!-- 마이페이지 회원정보 수정 -->
    <update id="updateProfile" parameterType="UserInfoDTO">
        UPDATE USER_INFO
        SET USER_NAME = #{userName},
            NICKNAME = #{nickname},
            PASSWORD = #{password},
            IDENTITY = #{identity},
            GENDER = #{gender}
        WHERE USER_ID = #{userId}
    </update>

    <!-- 마이페이지 회원 탈퇴 -->
    <delete id="deleteUserInfo" parameterType="UserInfoDTO">
        DELETE FROM USER_INFO
        WHERE USER_ID = #{userId}
    </delete>

    <!-- 마이페이지 진로심리검사 내역 조회하기 -->
    <select id="getTestRecordList" parameterType="TestResultDTO" resultType="TestResultDTO">
        SELECT TEST_SEQ, TEST_TYPE, TEST_TIME, URL
        FROM TEST_RESULT
        WHERE USER_ID = #{userId}
    </select>

    <!-- 마이페이지 진로심리검사 내역 삭제하기 -->
    <delete id="deleteTestRecord" parameterType="TestResultDTO">
        DELETE FROM TEST_RESULT
        WHERE USER_ID = #{userId}
        AND TEST_SEQ = #{testSeq}
    </delete>

    <!-- 좋아요 한 직업 모두 조회하기 -->
    <select id="getLikeJobList" parameterType="LikeJobDTO" resultType="LikeJobDTO">
        SELECT JD.JOB_DIC_SEQ, JD.JOB_NAME AS JOB_NAME
        FROM JOB_DICTIONARY JD
        INNER JOIN LIKE_JOB LJ ON JD.JOB_DIC_SEQ = LJ.JOB_DIC_SEQ
        WHERE USER_ID = #{userId}
    </select>

</mapper>